.hero__wrapper {
  background-color: var(--second-brand-color);
  background-image: url('../img/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero {
    padding: 50rem 0 15rem;
    text-align: left;
}
.hero .title {
    background-color: var(--fourth-brand-color);
    display: inline-block;
    padding: 2rem 1rem;
    color: var(--sub-text-color);
}

@media screen and (min-width: 1024px) {
  
}