:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #1eccc5;
  --second-brand-color: #febe0c;
  --third-brand-color: #ff6134;
  --fourth-brand-color: #c70029;
  --fifth-brand-color: #f7a29c;

  --main-font:  'Spartan';
  --title-font:  'Spartan Bold';
  --main-title-font: 'Abril Fatface';

  font-size: 62.5%;
}
